<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Scripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

  <main class="content">

  <header class="main-header">
    <ul class="main-menu">
      <li><%= link_to 'Homework', root_path %></li>

      <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
      <% end %>
    </ul>

    <div class="notice"><%= notice %></div>

    <div class="alert"><%= alert %></div>
  </header>

  <%= yield %>

  <footer class="main-footer">
    <p>&copy; <%= Time.new.year %> Krzysztof Zbudniewek</p>
  </footer>

  </main>

  </body>
</html>
